# <a id="Contents"> Contents </a>



* <a href='#1'>**1 - Data Importing** </a>
    * <a href='#1.01'>1.01 - Required Libraries </a>
    * <a href='#1.02'>1.02 - Read in a CSV </a>
    * <a href='#1.03'>1.03 - Read in a spreadsheet </a>
    * <a href='#1.04'>1.04 - Read in a database </a>
    

* <a href='#2'>**2 - Quick Data Checks**</a>   
    * <a href='#2.01'>2.01 - View the first X number of rows</a>
    * <a href='#2.02'>2.02 - View the data type of each column</a>
    * <a href='#2.03'>2.03 - View the quick stats of your numeric columns</a>
    * <a href='#2.04'>2.04 - View the Shape (number of columns, number of rows)</a>
    * <a href='#2.05'>2.05 - View count of non-NaN rows & dtype of each column</a>
    
    
* <a href='#3'>**3 - Data Cleaning**</a>
    * <a href='#3.01'>3.01 - Converting between data types</a>
    * <a href='#3.02'>3.02 - Remove unwanted characters from a field & convert type</a>
    * <a href='#3.03'>3.03 - Convert data type of Column - removing non-compliant data</a>
    * <a href='#3.04'>3.04 - Replace missing values with 0</a>
    * <a href='#3.05'>3.05 - Replace missing values with the mean</a>
    * <a href='#3.06'>3.06 - Rename columns</a>
    * <a href='#3.07'>3.07 - Create a brand new column</a>
    * <a href='#3.08'>3.08 - Create a calculated column</a>
    * <a href='#3.09'>3.09 - Drop columns</a>
    * <a href='#3.10'>3.10 - Drop all rows containing at least 1 NaN</a>
    * <a href='#3.11'>3.11 - Drop duplicates</a>
    * <a href='#3.12'>3.12 - Cleaning date formats</a>
    * <a href='#3.13'>3.13 - Removing or capping outliers</a>
    * <a href='#3.14'>3.14 - Changing the index</a>
    * <a href='#3.15'>3.15 - Converting character data into a series of 1/0 columns (one hot encoding)


* <a href='#4'>**4 - Filtering & Sorting**</a>
    * <a href='#4.01'>4.01 - Selecting specific columns</a>
    * <a href='#4.02'>4.02 - Filtering on specific rows </a>
    * <a href='#4.03'>4.03 - Remove filtered rows from DataFrame </a>
    * <a href='#4.04'>4.04 - Remove rows with NaNs in a specific column </a>
    * <a href='#4.05'>4.05 - Sorting the data </a>


* <a href='#5'>**5 - Calculated statistics from columns**</a>
    * <a href='#5.01'>5.01 - Basic summary statistics</a>
    * <a href='#5.02'>5.02 - List all unique values</a>
    * <a href='#5.03'>5.03 - Count the number of unique values</a>
    * <a href='#5.04'>5.04 - Calculate the frequency for each unique value</a>


* <a href='#6'>**6 - Visualisation**</a>
    * <a href='#5.01'>5.01 - Visualising your Value Counts</a>
    * <a href='#5.02'>5.02 - Visualise Value Counts, split by categories</a>
    * <a href='#5.03'>5.03 - Pair Plots</a>
    * <a href='#5.04'>5.04 - Histogram</a>
    * <a href='#5.05'>5.05 - Boxplot - Single value</a>
    * <a href='#5.06'>5.06 - Boxplot - Multiple Values</a>
    * <a href='#5.07'>5.07 - Visualise with a scatterplot</a>


* <a href='#7'>**7 - Aggregation and merging**</a>
    * <a href='#7.01'>7.01 - Aggregating by a single column</a>
    * <a href='#7.02'>7.02 - Aggregating by multiple columns</a>
    * <a href='#7.03'>7.03 - Aggregating for multiple summary statistics at the same time</a>
    * <a href='#7.04'>7.04 - Merging DataFrames on a single column</a>
    * <a href='#7.05'>7.05 - Merging DataFrames on multiple columns</a>
    * <a href='#7.06'>7.06 - Merging DataFrames on columns with different names</a>
    
    
* <a href='#8'>**8 - Creating functions example**</a>
    
    
* <a href='#9'>**9 - Plotting coordinates on a map**</a>
    
    
* <a href='10'>**10 - Calculating distance between coordinates**</a>

# 1 - <a id='1'> Data Importing </a>

## <a id='1.01'>1.01 - Import required libraries</a>

In [ ]:
import pandas as pd
import numpy as np
import sys
import os

import matplotlib.pyplot as plt
%matplotlib inline

## <a id='1.02'>1.02 - Read in a CSV </a>

In [ ]:
# You can then tell Python where it should be looking (where the data is stored)
os.chdir('C:\\Users\\Corndel PDE\\Data')

# use to check file directory of where you're looking if import ever fails
os.getcwd()

In [ ]:
# This is the most basic option to create a DataFrame (df) from a csv
df = pd.read_csv('Donators.csv')

# If the CSV has a natural id column then you can specify this within the parentheses
# In this case we have specified that the first column (column 0) contains the index
df = pd.read_csv('Donators.csv', index_col=0)

# Sometimes it is helpful to specify the encoding of a file, such as when saved with UTF-8 encoding
df = pd.read_csv('Donators.csv', index_col=0, encoding='UTF-8')

In [ ]:
# If reading in a CSV with dates and need to turn column into a date - dayfirst turns into DD/MM/YYYY
pd.read_csv('data/data_1.csv', parse_dates=['date'], dayfirst=True)

In [ ]:
# use col_names to limit what columns to load
col_names = ['STATEFIPS','STATE','zipcode','agi_stub','N1']
tax_data_v1 = pd.read_csv('us_tax_data_2016.csv',usecols=col_names)

In [ ]:
# limiting rows
tax_data_next500 = pd.read_csv('us_tax_data_2016.csv',
nrows=500,
skiprows=1000,
header=None,
names=col_names)

In [ ]:
#specifying datatypes on upload
tax_data = pd.read_csv("us_tax_data_2016.csv", dtype={"zipcode": str})

In [ ]:
# customising missing data values
tax_data = pd.read_csv("us_tax_data_2016.csv",na_values={"zipcode" : 0})

In [ ]:
# lines with errors 
#Set error_bad_lines=False to skip unparseable records
#Set warn_bad_lines=True to see messages when records are skipped

tax_data = pd.read_csv("us_tax_data_2016_corrupt.csv",
                        error_bad_lines=False,
                        warn_bad_lines=True)

## <a id='1.03'>1.03 - Read in a spreadsheet </a>

In [ ]:
survey_data = pd.read_excel("fcc_survey.xlsx")

In [ ]:
#usecols to choose columns by name, positional number or letter e.g. "A:P"
survey_data = pd.read_excel("fcc_survey_with_headers.xlsx",
skiprows=2,
usecols="W:AB, AR")

Selecting sheets to use

read_excel() loads the first sheet in excel file as default. Use the sheet_name keyword argument to load other sheets. The first sheet is always index 0

In [ ]:
# Use either position index or name to pull in second sheet
survey_data_sheet2 = pd.read_excel('fcc_survey.xlsx',sheet_name=1)
survey_data_sheet2 = pd.read_excel('fcc_survey.xlsx',sheet_name=2017)

In [ ]:
# Use sheet_name=None to read all sheets in a workbook
survey_responses = pd.read_excel("fcc_survey.xlsx", sheet_name=None)

## <a id='1.04'>1.04 - Read in a database </a>

In [ ]:
# Import sqlalchemy's create_engine() function to pull in data
from sqlalchemy import create_engine

# Create the database engine - SQLiteURLformat:sqlite:///filename.db 
#i.e.
engine = create_engine("sqlite:///data.db")

<i>Load in data two ways via SQL Alchemy </i>

In [ ]:
# Use a table name to import all the data
hpd_calls = pd.read_sql("hpd311calls", engine)

# Create a SQL query to load the entire weather table
query = """
SELECT * 
  FROM weather;
"""

weather = pd.read_sql(query, engine)

<i> You are able to use the standard operators to filters within a where clause, and select columns in usual sql way 

You can also use standard functions like distinct and aggregates 


</i>

In [ ]:
# Put it all together and you can use aggregation, joins and wheres
query = """SELECT 
hpd311calls.borough,
COUNT(*),
boro_census.total_population,
boro_census.housing_units
FROM hpd311calls
JOIN boro_census ON hpd311calls.borough = boro_census.borough
GROUP BY hpd311calls.borough;"""

call_counts = pd.read_sql(query, engine)

<a href="#Contents">_Return to Contents_</a>

# <a id='2'>2 - Quick Data Checks</a>

## <a id='2.01'>2.01 - View the first X number of rows </a>

In [ ]:
# It is always helpful to use the head() method to look at the first few rows of your DataFrame
# You can also specify how many rows you want to see but you don't have to
# We have asked for 7 rows to be returned
df.head(7)

## <a id='2.02'>2.02 -  View the data type of each column </a>

In [ ]:
# Check the data type (dtype) for each column
df.dtypes

## <a id='2.03'>2.03 - View the quick stats of your numeric columns  </a>

In [ ]:
# The describe method provides various summary statistics for all *numeric* columns
df.describe()

## <a id='2.04'>2.04 -   View the Shape (number of rows, number of columns) </a>

In [ ]:
# Returns the shape of the DataFrame (columns + rows)
df.shape

## <a id='2.05'>2.05 -   View count of non-NaN rows & dtype of each column </a>

In [ ]:
# The info method provides less detailed information about ALL columns
# It tells us the number of non-NaN values and dtypes
df.info()

<a href="#Contents">_Return to Contents_</a>

# <a id='3'>3 - Data Cleaning</a>

## <a id='3.01'>3.01 - Converting between data types </a>

In [ ]:
# We might want to change the dtype of a numeric column to string
df['smiley_rating'] = df['smiley_rating'].astype(str)

# We might want to change the dtype of a string or object to a numeric type (integer or float)
# In this case we will change the smiley rating back to a float
df['smiley_rating'] = df['smiley_rating'].astype(float)

# Or we can try to make it an integer!
# But this *does not work* on this dataset because the column contains NaNs and int columns cannot
df['smiley_rating'] = df['smiley_rating'].astype(int)

## <a id='3.02'>3.02 - Remove unwanted characters from a field & convert type </a>

In [ ]:
# Use the replace function to replace the unwanted character with blank
# Here we replace '£' with nothing so that it is removed from the column
df['donation'] = df['donation'].replace({'\£':''}, regex=True)

# We use the .astype() function to set it to a float! (once the unwanted characters have been removed)
df['donation'] = df['donation'].astype(float)

## <a id='3.03'>3.03 - Convert data type of column - removing non-compliant data </a>

In [ ]:
# This removes anything that isn't a number and converts the field to a number
# They will become Float64, as an Int field can not contain NaNs
df['number_of_younger_siblings'] = df['number_of_younger_siblings'].apply(pd.to_numeric, errors='coerce')
df['number_of_older_siblings'] = df['number_of_older_siblings'].apply(pd.to_numeric, errors='coerce')

## <a id='3.04'>3.04 - Replace missing values with 0 </a>

In [ ]:
## This fills any NaNs with 0. You could put any value in the brackets of fillna to put that value in instead.
df['number_of_younger_siblings'] = df['number_of_younger_siblings'].fillna(0)
df['number_of_older_siblings'] = df['number_of_older_siblings'].fillna(0)

In [ ]:
## We can now convert these cells to be integers, as they contain no more NaNs
df['number_of_younger_siblings'] = df['number_of_older_siblings'].astype(int)
df['number_of_older_siblings'] = df['number_of_older_siblings'].astype(int)

## <a id='3.05'>3.05 - Replace missing values with the mean </a>

In [ ]:
# Calculate the mean
smiley_mean = df['smiley_rating'].mean()

# Replace missing values with the mean
df['smiley_rating'] = df['smiley_rating'].fillna(smiley_mean)

# We can now convert Smiley Rating to an int as it contains no NaNs
df['smiley_rating'] = df['smiley_rating'].astype(int)

## <a id='3.06'>3.06 -  Rename columns  </a>

In [ ]:
# We can remane all the columns simply by listing the new names we want
smiley_summary.columns = ['meeting_time','donations','first_name', ... etc]

In [ ]:
# Or we make a *mapping* of the OLD:NEW column names in a dictionary
column_map = {'number_of_younger_siblings':'younger_siblings',
              'number_of_older_siblings':'older_siblings'}

# Use the rename() method to name
df = df.rename(columns = column_map)

## <a id='3.07'>3.07 - Create a brand new column </a>

In [ ]:
# To create a new column, you simply put the name your new column and say what it is equal to.
# This creates a new column called 'new_column' and sets it to equal to True
df['new_column'] = True

## <a id='3.08'>3.08 - Create a calculated column </a>

In [ ]:
# Perhaps we want to create a column called 'total siblings'
df['total_siblings'] = df['younger_siblings'] + df['older_siblings']

In [ ]:
# Or we might create a column which takes a different value...
# ... depending on whether the smiley_rating is greater than a certain value
df['nice_person'] = np.where(df['smiley_rating'] > 5, 1, 0)

## <a id='3.09'>3.09 - Drop columns </a>

In [ ]:
# Double check what columns we have and print the list of columns
all_cols = list(df.columns)
print(all_cols)

In [ ]:
##Make a list of columns you would like to remove
## They need to match exactly (you can copy and paste from the printed list above!)
unwanted_cols = ['first_name', 'last_name', 'new_column', 'nice_person']
print(unwanted_cols)

In [ ]:
# Now we drop them!
df = df.drop(columns=unwanted_cols)

## <a id='3.10'> 3.10 - Drop all rows containing at least 1 NaN </a>
###### (use with caution)

In [ ]:
df = df.dropna()

In [ ]:
# A better approach is to only drop rows which have NaNs for specific columns (and ignore NaNs in other columns)
# This will only drop rows where there are NaNs for the 'smiley_rating' columns
df = df.dropna(subset=['smiley_rating'])

## <a id='3.11'>3.11 - Drop duplicates </a>

In [ ]:
# The Subset is which Columns should be considered.
# If you're looking for duplicates rows that have the same value in every column, you can use subset=None
# Otherwise list the columns as a list. subset=['column1', 'column2']
df = df.drop_duplicates(subset=None, keep='first')

# Or this version will drop all duplicates where *both* first name and last name are the same across two records
df = df.drop_duplicates(subset=['older_siblings','younger_siblings'], keep='first')

## <a id='3.12'>3.12 - Cleaning date formats </a>

In [ ]:
## Specifying the right value for the 'format' argument is extremely important
df['meeting_date'] = pd.to_datetime(df['meeting_date'], format='%d/%m/%Y', errors='ignore')

# If we only want the *time* part then we would add .dt.time to the end of the code
# This line of code below does not work as the information in the dataset is data information (not time)
df['meeting_time'] = pd.to_datetime(df['meeting_time'],format= "%H:%M %p" ).dt.time

In [ ]:
## You may need to change the 'format' argument to something else
# <your column> = pd.datetime(<your column>, format='<date format>', errors='ignore')

#    %y :    2-digit year
#    %Y :    4-digit year
#    %m :    month
#    %d :    day
#    %H :    hour
#    %M :    minute
#    %S :    second
#    %p :    AM or PM

# Note that there is a difference between 21/09/1996 = '%d/%m/%Y'
#                                     and 21-09-1996 = '%d-%m-%Y'

## <a id='3.13'>3.13 - Removing or capping outliers </a>

In [ ]:
# We could either remove the outliers
df = df[df['donation'] < 600]

# Or we could cap the outliers at a reasonable value
# Here we use the np.where() function to change the value to 100 whenever it is larger than 100
df['donation'] = np.where(df['donation'] > 100, 100, df['donation'])

## <a id='3.14'>3.14 - Changing the index </a>

In [ ]:
# The index is the "column" on the far left of the DataFrame
# Sometimes the title is lower than all the other columns headings

# For the Donations dataset the index is called 'id', your data might have an unnamed index
df['new_column_from_index'] = df.index

In [ ]:
# We can also 'reset' the index
# This will insert the current index as a column and make a new index starting from 0
df = df.reset_index()

In [ ]:
# Finally, we can choose an existing column and make it the index
# *As long as* ... all the values in the column are unique (in an index all values must be unique)

# The code below takes the column create by the reset_index() method (see above)
# And makes it the index again
df = df.set_index('id')

## <a id='3.15'>3.15 - Converting character data into a series of 1/0 columns (one hot encoding) </a>

In [ ]:
# If the column only has a small number of unique values then it is relatively simple
df['male_flag'] = np.where(df['gender'] == 'Male', 1, 0)
df['female_flag'] = np.where(df['gender'] == 'Female', 1, 0)

In [ ]:
# But for the 'favourite_cake' column we have quite a few possible values
print(df['favourite_cake'].unique())

# We can use a for loop to create a 1/0 flag for every unique value
for x in list(df['favourite_cake'].unique()):
    df[str(x)+' flag'] = np.where(df['favourite_cake'] == str(x), 1, 0)

<a href="#Contents">_Return to Contents_</a>

# <a id='4'>4 - Filtering & Sorting  </a>

## <a id='4.01'>4.01 - Selecting specific columns </a>

In [ ]:
# Restrict the data to only some selected columns
df_four_columns = df[['donation','gender','younger_siblings','older_siblings']]

# If we wanted to permanently only select those columns, we would assign it back to the same dataframe
# with df = df[['col1', 'col2'...]]

## <a id='4.02'>4.02 - Filtering on specific rows </a>

In [ ]:
# Let's say we want to filter the data so that we only have records where 'smiley_rating' is 6
only_smiley_6 = df[df['smiley_rating'] == 6]

In [ ]:
# If we want to combine two conditions then we can use
# either the 'and' sign (&) or the 'or' sign (|)
only_smiley_5or6 = df[(df['smiley_rating'] == 6) | (df['smiley_rating'] == 5)]

In [ ]:
# We could also have achieved this last result by using the isin() method
only_smiley_5or6 = df[df['smiley_rating'].isin([5,6])]

## <a id='4.03'>4.03 - Remove filtered rows from the DataFrame </a>

In [ ]:
# We simply assign the filtered result back to the original dataframe
# This will remove the ones that do not meet the requirement
df = df[df['smiley_rating'] < 2]

## <a id='4.04'>4.04 - Remove rows with NaNs in a specific column </a>

In [ ]:
# We select everything that is not an NaN in that column, and assign it back to the original dataframe
df = df[df['gender'].notna()]

## <a id='4.05'>4.05 - Sorting the data </a>

In [ ]:
# To sort the data we use the sort_values() method
sorted_df = df.sort_values('donation')

In [ ]:
# To sort in descending order
sorted_df = df.sort_values('donation', ascending=False)

In [ ]:
# To sort based on two or more columns (not just one)
sorted_df = df.sort_values(['favourite_pet','donation'], ascending=[True,False])

# <a id='5'>5 - Calculated statistics from columns </a>

## <a id='5.01'>5.01 - Basic summary statistics </a>

In [ ]:
# We can calculate most basic statistics for columns
# using either Pandas methods or Numpy functions

# COUNT (NON-NULLS)
df['smiley_rating'].count()
len(df['smiley_rating'])

# SUM
df['smiley_rating'].sum()
np.sum(df['smiley_rating'])

# MEAN
df['smiley_rating'].mean()
np.mean(df['smiley_rating'])

# MEDIAN
#df['smiley_rating'].median()#
#np.median(df['smiley_rating'])

# STANDARD DEVIATION
df['smiley_rating'].std()
np.std(df['smiley_rating'])

# MIN
df['smiley_rating'].max()
np.max(df['smiley_rating'])

# MAX
df['smiley_rating'].min()
np.min(df['smiley_rating'])

## <a id='5.02'>5.02 - List all unique values </a>

In [ ]:
# We can list all the unique values in a columns
df['smiley_rating'].unique()

## <a id='5.03'>5.03 - Count the number of unique values </a>

In [ ]:
# Or we can count the number of unique values (in two ways)
df['smiley_rating'].nunique()

## <a id='5.04'>5.04 - Calculate the frequency for each unique value </a>

In [ ]:
# Finally, we can return all the unique values and see how often they occur
df['smiley_rating'].value_counts()

In [ ]:
# If we wanted to convert this into a DataFrame (perhaps so we can merge it later)
smiley_rating_counts = pd.DataFrame(df['smiley_rating'].value_counts())

# As before (in the indexes section) we can make the index into a column
# We will also change the names of the columns to be a bit more meaningful
smiley_rating_counts = pd.DataFrame(df['smiley_rating'].value_counts())
smiley_rating_counts = smiley_rating_counts.reset_index()
smiley_rating_counts.columns = ['smiley_rating','frequency']

<a href="#Contents">_Return to Contents_</a>

# <a id='6'>6 - Visualisation </a>

## <a id='6.01'>6.01 - Visualising your Value Counts </a>

In [ ]:
# Plot the favourite_pet value counts
bc = df['favourite_pet'].value_counts().plot.bar()

## <a id='6.02'>6.02 - Visualise Value Counts, split by categories </a>

In [ ]:
bc = df.groupby(['favourite_pet','gender']).count()['donation'].unstack().plot(kind="bar")

## <a id='6.03'>6.03 - Pair Plots </a>

In [ ]:
pairplots = pd.plotting.scatter_matrix(df, figsize=(15, 15), marker='o',
                        hist_kwds={'bins': 20}, s=60, alpha=.8)

## <a id='6.04'>6.04 - Histogram </a>

In [ ]:
hg = df['donation'].hist(bins=20)

## <a id='6.05'>6.05 - Boxplot - Single value </a>

In [ ]:
bp = df[['donation']].boxplot()

## <a id='6.06'>6.06 - Boxplot - Multiple Values </a>

In [ ]:
bp = df[['smiley_rating', 'older_siblings']].boxplot()

## <a id='6.07'>6.07 - Visualise with a scatterplot  </a>

In [ ]:
plt = df.plot.scatter('donation', 'smiley_rating')

## 6.08 - Create time series plot function

In [ ]:
# Define a function called plot_timeseries
def plot_timeseries(axes, x, y, color, xlabel, ylabel):

  # Plot the inputs x,y in the provided color
  axes.plot(x, y, color=color)

  # Set the x-axis label
  axes.set_xlabel(xlabel)

  # Set the y-axis label
  axes.set_ylabel(ylabel, color=color)

  # Set the colors tick params for y-axis
  axes.tick_params('y', colors=color)

In [ ]:
fig, ax = plt.subplots()

# Plot the CO2 levels time-series in blue
plot_timeseries(ax, climate_change.index, climate_change['co2'], "blue", "Time (years)", "CO2 levels")

# Create a twin Axes object that shares the x-axis
ax2 = ax.twinx()

# Plot the relative temperature data in red
plot_timeseries(ax, climate_change.index, climate_change['relative_temp'], "red", "Time (years)", "Relative temperature (Celsius)")

plt.show()

<a href="#Contents">_Return to Contents_</a>

# <a id='7'>7 - Aggregation and merging </a>

## <a id='7.01'>7.01 - Aggregating by a single column  </a>

In [ ]:
# Group by works very similarly to the GROUP BY command in SQL
# We choose which column we want to use to aggregate ('smiley_rating')
# And specify which column we are interested in summarising ('total_siblings')
# And how we want to summarise it ('mean')
df.groupby('smiley_rating')['total_siblings'].mean()

In [ ]:
# We can convert this into a DataFrame and rename the columns
smiley_summary = df.groupby('smiley_rating')['total_siblings'].mean()
smiley_summary = smiley_summary.reset_index()
smiley_summary.columns = ['smiley_rating','average_number_of_siblings']

## <a id='7.02'>7.02 - Aggregating by multiple columns  </a>

In [ ]:
# If we want to aggregate by two or more columns
df.groupby(['gender','favourite_pet'])['total_siblings'].mean()

## <a id='7.03'>7.03 - Aggregating for multiple summary statistics at the same time  </a>

In [ ]:
# It is also possible to apply several different statistics to different columns
# Based on the same aggregating column
df.groupby('smiley_rating').agg({'younger_siblings': ['mean', 'count'],
                                 'total_siblings': ['median', 'min', 'count']})

## <a id='7.04'>7.04 - Merging DataFrames on a single column  </a>

<b><i>Before merging we will need to create two DataFrames that we can merge together.</i></b>

In [ ]:
table1 = df[df['smiley_rating'] == 2][['first_name','last_name','favourite_pet','smiley_rating','favourite_cake']]

In [ ]:
table2 = df[df['smiley_rating'] == 1][['first_name','last_name','favourite_pet','smiley_rating','favourite_cake']]

In [ ]:
# LEFT JOIN ON A SINGLE COLUMN
table1.merge(table2, on='favourite_pet', how='left')

## <a id='7.05'>7.05 - Merging DataFrames on multiple columns  </a>

In [ ]:
# INNER JOIN ON TWO COLUMNS
table1.merge(table2, on=['favourite_pet','favourite_cake'], how='inner')

## <a id='7.06'>7.06 - Merging DataFrames on columns with different names  </a>

In [ ]:
# JOIN ON TWO COLUMNS WHICH DO NOT HAVE THE SAME NAME AS EACH OTHER
table1.merge(table2, left_on='favourite_pet', right_on='favourite_cake', how='inner')

<i>As it stands, this last join will not return any results because 'favourite_pet' never equals 'favourite_cake'!

## <a id='8'>8 - Creating functions example  </a>

In [ ]:
# Function to calculate the area of a trapezium
def trapezium_area(width1, width2, height):
    average_width = (width1 + width2) / 2
    area = average_width * height
    return (area)

# Call the function several times for different widths and heights
print(trapezium_area(4, 6, 1))
print(trapezium_area(4, 6, 2))
print(trapezium_area(5, 6, 1))
print(trapezium_area(5, 6, 2))
print(trapezium_area(4, 4, 2))

## <a id='9'>9 - Plotting coordinates on a map  </a>

In [ ]:
https://towardsdatascience.com/easy-steps-to-plot-geographic-data-on-a-map-python-11217859a2db

## <a id='10'>10 - Calculating distance between coordinates  </a>

In [ ]:
def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [ ]:
>>> df['distance'] = haversine_np(df['lon1'],df['lat1'],df['lon2'],df['lat2'])

## Object to date

In [ ]:
mss['Month'] = pd.to_datetime(mss['Month'], format='%Y-%m', errors='ignore')

## 11 - Time Series - ARIMA

In [ ]:
## Auto Arima
from pmdarima import auto_arima

model = auto_arima(ts.ABC_Sales,trace=True,error_actions='ignore')

model.fit(ts.ABC_Sales)

In [ ]:
# Fit a model with order (2,1,3)
model = ARIMA(ts['ABC_Sales'], order=(2,1,3), freq='D')
model_fit = model.fit(disp=False)

In [ ]:
# Create space for two plot at the same time
fig, ax = plt.subplots(1, 2, figsize=(15,4))
# Use the plot_predict method to fit model and forecast into the future
model_fit.plot_predict(1, 425, ax=ax[0])
model_fit.plot_predict(250, 350, ax=ax[1])

## 12

<a href="#Contents">_Return to Contents_</a>